
.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans Semibold", "Arial Unicode MS Bold";
}
 

#map {
    width: 100%;
    height: 500px;
    transition: all 0.3s;
}